<!-- Portfolio Subpage -->
              <section data-id="portfolio" class="animated-section">
                <div class="page-title">
                  <h2>Portfolio</h2>
                </div>

                <div class="section-content">

                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <!-- Portfolio Content -->
                      <div class="portfolio-content">

                        <ul class="portfolio-filters">
                          <li class="active">
                            <a class="filter btn btn-sm btn-link" data-group="category_all">All</a>
                          </li>
                          <li>
                            <a class="filter btn btn-sm btn-link" data-group="category_detailed">Node Js</a>
                          </li>
                          <li>
                            <a class="filter btn btn-sm btn-link" data-group="category_mockups">Angular</a>
                          </li>
                          <li>
                            <a class="filter btn btn-sm btn-link" data-group="category_soundcloud">JAVA FX</a>
                          </li>
                          <li>
                            <a class="filter btn btn-sm btn-link" data-group="category_vimeo-videos">.NET</a>
                          </li>
                          

                        <!-- Portfolio Grid -->
                        <div class="portfolio-grid three-columns">
                          
                          <figure class="item lbaudio" data-groups='["category_all", "category_soundcloud"]'>
                            <div class="portfolio-item-img">
                              <img src="/Images/portfolio/1.jpg" alt=" Modern Desktop application built on Java using JFoenix design Library" title="Scrabble Points calculator" />
                              <a href="https://github.com/Shreyanshharsora/Java-FX" class="ajax-page-load" title="Java Fx app"></a>
                            </div>
                            <h4 class="name">Scrabble Points Calculator</h4>
                            <span class="category">JAVA FX</span>
                          </figure>

                          <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
                            <div class="portfolio-item-img">
                              <img src="/images/portfolio/2.jpg" alt="Twitter API Clone" title="Twitter Clone Endpoint API" />
                              <a href="https://github.com/Shreyanshharsora/TwitterClone" class="ajax-page-load"></a>
                            </div>
                            <h4 class="name">Twitter Clone Endpoint API</h4>
                            <span class="category">Node Js</span>
                          </figure>

                          <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
                            <div class="portfolio-item-img">
                              <img src="/images/portfolio/2.jpg" alt="XKCD Comic webapp clone API Clone" title="XKCD Comic clone" />
                              <a href="https://github.com/Shreyanshharsora/TwitterClone" class="ajax-page-load"></a>
                            </div>
                            <h4 class="name">XKCD Comic clone</h4>
                            <span class="category">Node Js</span>
                          </figure>

                          <figure class="item lbvideo" data-groups='["category_all", "category_vimeo-videos"]'>
                            <div class="portfolio-item-img">
                              <img src="/images/portfolio/3.jpg" alt="E-Commerce web application with custom design canvas and payment integration" title="E-Commerce" />
                              <a href="https://github.com/Shreyanshharsora/ASP.NET-Project" class="ajax-page-load" title="E-Commerce"></a>
                            </div>
                            <h4 class="name">E-Commerce</h4>
                            <span class="category">.NET</span>
                          </figure>


                          <figure class="item lbimage" data-groups='["category_all", "category_mockups"]'>
                            <div class="portfolio-item-img">
                              <img src="/images/portfolio/5.jpg" alt="Infrastructure Management system with image masking technology" title="JLL Infrastructure" />
                              <a class="lightbox" title="JLL Infrastructure" href="https://github.com/Shreyanshharsora/JLL"></a>
                            </div>
                            <h4 class="name">JLL Infrastructure</h4>
                            <span class="category">Angular</span>
                          </figure>

                          <figure class="item lbimage" data-groups='["category_all", "category_mockups"]'>
                            <div class="portfolio-item-img">
                              <img src="/images/portfolio/5.jpg" alt="E-Commerce web application for custom socks design functionality" title="Sockira" />
                              <a class="ajax-page-load" title="Sockira" href="https://github.com/Shreyanshharsora/sockira"></a>
                            </div>
                            <h4 class="name">Sockira</h4>
                            <span class="category">Angular</span>
                          </figure>

                        </div>
                      </div>
                      <!-- End of Portfolio Content -->
                    </div>
                  </div>
                </div>
              </section>
              <!-- End of Portfolio Subpage -->